div {
		border:1px solid blue;
	  }
	  #main {
	   width:460px;
	   height:800px;
	   position:relative;
	  }
	  
	  #main > div {
		display: inline-block;
		position:absolute;
	  }
	  
	  .w_1_6 {
	   width:16.5%;
	  }
	  .h_3_8 {
	  height:37.5%;
	  }
	  .w_3_6 {
	  width:50%;
	  }
	  .h_2_8 {
	  height:25%;
	  }
	  .h_1_8 { 
	  height:12.5%;
	  }
	  #Fenster{
	  left:0%;
	  top:0%;
	  }
	  #Witz {
	  left:16.5%;
	  top:25%;
	  }
	  #Luftfeuchtigkeit {
	  left:16.5%;
	  top:0%;
	  }
	  #Draussentemeratur {
	  right:0%;
	  top:0%;
	  }
	  .w_2_6 {
	  width:33%;
	  }
	  #Luftdruck {
	  left:0%;
	  top:37.5%;
	  }
	  #Batterie {
	  left:50%;
	  top:37.5%;
	  }
	  #Drinnentemperatur {
	  right:0%;
	  top:37.5%; 
	  }
	  #Regen {
	  right:0%;
	  bottom:0%;
	  }
	  .w_4_6 {
		width:66%;  
		}
	  .h_4_8 {
		height:50%
	  }
	  #datetime {
		left:0%;
		bottom:0%;
	  }
	  #time, 
	  #date {
		  font-family: 'Monofett', cursive;
		height:50%;
		font-size:"x-large"
	  }
	 